# 淘宝的npm仓库镜像
registry=https://registry.npmmirror.com
# 保证在需要使用node.js运行代码时,其能与npm(运行时nodejs.js)使用相同版本
scripts-prepend-node-path=true

# 是否自动执行pre和post脚本
# 例如: 当设置为true时,执行`pnpm foo`就相当于执行了`pnpm prefoo && pnpm foo && pnpm postfoo`
# 当设置为false时,则不会执行`pre`和`post`脚本,执行`pnpm foo`就只会执行`pnpm foo`
enable-pre-post-scripts=true

# proxy=http://127.0.0.1:7897
# https-proxy=http://127.0.0.1:7897

electron_mirror=https://npmmirror.com/mirrors/electron/