# 淘宝的npm仓库镜像
registry=https://registry.npmmirror.com

# proxy=http://127.0.0.1:7897
# https-proxy=http://127.0.0.1:7897

electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/

